In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Social_Network_Ads.csv")

In [3]:
df

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [7]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix,accuracy_score,recall_score,precision_score
from sklearn.preprocessing import StandardScaler

In [8]:
X=df.iloc[:,0:2]
y=df.iloc[:,-1]

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=6)

In [10]:
X

     Age  EstimatedSalary
0     19            19000
1     35            20000
2     26            43000
3     27            57000
4     19            76000
..   ...              ...
395   46            41000
396   51            23000
397   50            20000
398   36            33000
399   49            36000

[400 rows x 2 columns]

In [11]:
y

0      0
1      0
2      0
3      0
4      0
      ..
395    1
396    1
397    1
398    0
399    1
Name: Purchased, Length: 400, dtype: int64

In [12]:
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.fit_transform(X_test)

In [13]:
model=LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression()

In [14]:
y_pred=model.predict(X_test)

In [17]:
cm=confusion_matrix(y_test,y_pred)

In [18]:
cm

array([[60,  2],
       [13, 25]], dtype=int64)

In [19]:
print("TP ",cm[0][0])
print("FP ",cm[0][1])
print("FN ",cm[1][0])
print("TN ",cm[1][1])

TP  60
FP  2
FN  13
TN  25

In [20]:
accuracy=accuracy_score(y_test,y_pred)
print("Accuracy: ",accuracy)
error=1-accuracy
print("Error: ",error)
recall=recall_score(y_test,y_pred)
print("Recall ",recall)
precision=precision_score(y_test,y_pred)
print("Precision ",precision)

Accuracy:  0.85
Error:  0.15000000000000002
Recall  0.6578947368421053
Precision  0.9259259259259259